@media only sceen and (min-width: 1000px) {
    * {
        margin: 0 auto;
        padding: 0 auto;
        font-weight: bold;
    }

    body {
        background-image: url('../img/searching3.jpeg');
        background-size: cover;
        background-repeat: none;
        background-position: center;
        height: 100vh;
    }

    
}