body {
    background-image: url('../img/searching3.jpeg');
    background-size: cover;
    background-position: center;
    height: 50vh;
}

h1 {
    position: absolute; left: 250px;
    font-size: 75px;
    color: azure;
}

p {
    position: absolute; left: 150px; top: 100px;
    font-size: 65px;
    color: darkgoldenrod;
    
}

@media only sceen and (min-width: 1000px) {
    * {
        margin: 0 auto;
        padding: 0 auto;
        font-weight: bold;
    }

    body {
        background-image: url('../img/searching3.jpeg');
        background-size: cover;
        background-repeat: none;
        background-position: center;
        height: 100vh;
    }
    
}